
@{
    ViewBag.Title = "Salary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Salary Slip</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index">
                                <svg class="stroke-icon">
                                    <use href="~/content/assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Users</li>
                        <li class="breadcrumb-item active"> Salary slip</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->

    <div class="container-fluid">
        <div class="edit-profile">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="basic-datatable1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-md-6 mt-3">
                                                <h4 class="card-title mb-0">Salary Slip</h4>
                                        </div>
                                        <div class="col-md-6 d-flex justify-content-end mt-3">
                                            <div id="basic-datatable1_filter" class="dataTables_filter">
                                                <label>
                                                    <input type="search" class="form-control" placeholder="Search..." aria-controls="basic-datatable1">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="basic-datatable1" class="table table-striped table-bordered border-bottom table-hover dataTable no-footer" role="grid" aria-describedby="basic-datatable1_info">
                                                <thead>
                                                    <tr role="row"><th class="border-bottom-0 sorting_asc" tabindex="0" aria-controls="basic-datatable1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Document Name: activate to sort column descending" style="width: 1493px;">Document Name</th></tr>
                                                </thead>
                                                <tbody>

                                                    <tr class="odd"><td valign="top" colspan="1" class="dataTables_empty">No data available in table</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="basic-datatable1_info" role="status" aria-live="polite">Showing 0 to 0 of 0 entries</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/assets/js/jquery.min.js"></script>

<script src="~/Content/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

<script src="~/Content/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="~/Content/assets/js/icons/feather-icon/feather-icon.js"></script>

<script src="~/Content/assets/js/scrollbar/custom.js"></script>
<script src="~/Content/assets/js/scrollbar/simplebar.js"></script>

<script src="~/Content/assets/js/config.js"></script>

<script src="~/Content/assets/js/clock.js"></script>
<script src="~/Content/assets/js/slick/slick.js"></script>
<script src="~/Content/assets/js/slick/slick.min.js"></script>
<script src="~/Content/assets/js/header-slick.js"></script>
<script src="~/Content/assets/js/chart/apex-chart/apex-chart.js"></script>
<script src="~/Content/assets/js/chart/apex-chart/stock-prices.js"></script>
<script src="~/Content/assets/js/chart/apex-chart/moment.min.js"></script>
<script src="~/Content/assets/js/notify/index.js"></script>
<script src="~/Content/assets/js/typeahead/typeahead.bundle.js"></script>
<script src="~/Content/assets/js/typeahead/typeahead.custom.js"></script>
<script src="~/Content/assets/js/typeahead-search/handlebars.js"></script>
<script src="~/Content/assets/js/height-equal.js"></script>
<script src="~/Content/assets/js/animation/wow/wow.min.js"></script>
<script src="~/Content/assets/js/typeahead-search/typeahead-custom.js"></script>

<script src="~/Content/assets/js/script.js"></script>