
@{
    ViewBag.Title = "Voucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Advance Request</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index">
                                <svg class="stroke-icon">
                                    <use href="~/content/assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Users</li>
                        <li class="breadcrumb-item active"> Advance-Voucher</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->

    <div class="container-fluid">
        <div class="edit-profile">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4 class="card-title mb-0">Voucher Request</h4>
                                </div>
                                <div class="col-lg-6 d-flex justify-content-end align-items-end" onclick="myfunctionVoucher()">
                                    <button class="btn btn-primary" onclick="return Emp_AdvanceReq(0,'','','','','','',0,0,'11 April 2024','11 April 2024','')" type="submit"><i class="feather feather-plus fs-15 my-auto mr-2"></i><strong>+ Request Voucher</strong></button>
                                </div>
                            </div>
                            <div class="card-options">
                                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                <a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6  d-flex justify-content-end">
                                    <div id="basic-datatable_filter" class="dataTables_filter">
                                        <label><input type="search" class="form-control" placeholder="Search..." aria-controls="basic-datatable"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div id="basic-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered border-bottom table-hover dataTable no-footer" id="basic-datatable" role="grid" aria-describedby="basic-datatable_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="border-bottom-0 sorting_asc" tabindex="0" aria-controls="basic-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Pay To : activate to sort column descending" style="width: 136.75px;">Pay To </th>
                                                        <th class="border-bottom-0 sorting" tabindex="0" aria-controls="basic-datatable" rowspan="1" colspan="1" aria-label="Project Name/ Opp Name: activate to sort column ascending" style="width: 241.312px;">Project Name/Opp Name</th>
                                                        <th class="border-bottom-0 sorting" tabindex="0" aria-controls="basic-datatable" rowspan="1" colspan="1" aria-label="Expense Requested  Amount : activate to sort column ascending" style="width: 311.219px;">Expense Requested Amount </th>
                                                        <th class="border-bottom-0 sorting" tabindex="0" aria-controls="basic-datatable" rowspan="1" colspan="1" aria-label="Expense Granted Amount: activate to sort column ascending" style="width: 274.594px;">Expense Granted Amount</th>
                                                        <th class="border-bottom-0 sorting" tabindex="0" aria-controls="basic-datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 134.594px;">Status</th>
                                                        <th class="border-bottom-0 sorting" tabindex="0" aria-controls="basic-datatable" rowspan="1" colspan="1" aria-label="Operation: activate to sort column ascending" style="width: 179.531px;">Operation</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">No data available in table</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="basic-datatable_info" role="status" aria-live="polite">Showing 0 to 0 of 0 entries</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Model_Emp_AdvanceReq" tabindex="-1" role="dialog" aria-hidden="true">
                <form action="/Employee/AdvanceReq_Add?Length=8" data-ajax="true" data-ajax-method="POST" data-ajax-success="OnUpdateUserEAdvReq" enctype="multipart/form-data" id="form" method="post" onsubmit="return submitadvreq();" role="form">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="col-md-12 p-3 card-left" style="display:none;text-align:center" id="request">
                                <div class="alert_R" style="border-radius: 5px; color: white;padding:inherit; background-color: #f91a1ab8 ">
                                    <span id="failuremsg"></span>
                                    <span class="closebtn" style="float:right">&times;</span>
                                </div>
                            </div>
                            <div class="modal-header">
                                <h5 class="modal-title">Advance Request Creation</h5>
                            </div>
                            <div class="modal-body">
                                <input name="__RequestVerificationToken" type="hidden" value="LgqIPIxfmXNENsrtAyOzRDN3IivkmpX7jxzkgHx_EpC49N6cZtxHK7zMytvbxNWnKqn9Gfjd5LF1DQcZq-MMKjbSKB1MVMT9j_TX3hyU1ZU1" />
                                <input type="hidden" name="Req_Id" id="Req_Id" value="0">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="form-label">Parent Type <span class="text-red">*</span></label>
                                        <select onchange="getparent()" name="Parent_Type" id="Parent_Type" class="form-control" required>
                                            <option value="">Select below option</option>
                                            <option value="Project">Project</option>
                                            <option value="Opportunity">Opportunity</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6" id="demo">
                                        <label class="form-label">Project Name</label>
                                        <select name="Project_Id" id="Project_Id" class="form-control">
                                            <option value="">Select Project</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="form-label">From Date</label>
                                        <input type="date" name="S_Date" required id="S_Date" class="form-control fc-datepicker" placeholder="01 January 2022" />
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-label">To Date</label>
                                        <input type="date" name="E_Date" required id="E_Date" class="form-control fc-datepicker" placeholder="01 January 2022" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="form-label">Visiting Company <span class="text-red">*</span></label>
                                        <input type="text" name="Place" required id="Place" style="margin:auto;" class="form-control" placeholder="Enter place">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-label">Expense Req Amount <span class="text-red">*</span></label>
                                        <input type="number" name="Requested_Amount" min="1" required style="margin:auto;" id="Requested_Amount" class="form-control" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="form-label">Purpose to Visit <span class="text-red">*</span></label>
                                        <textarea name="Description" class="form-control" id="Description" rows="1" cols="10" placeholder="Purpose of Visit" required></textarea>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-label">Remark for Administrator</label>
                                        <textarea name="Remark" class="form-control" rows="1" cols="10" placeholder="Remark for adminisrtator" id="Remark"></textarea>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="form-label">Remark By Administrator</label>
                                        <textarea name="Remark_For_Admin" class="form-control" rows="1" cols="10" id="Remark_For_Admin" placeholder="Remark by administrator"></textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal" onclick="myfunctionVoucher()" id="exit">&ensp;<b style="color:#222222">Close</b></button>
                                <button type="submit" id="savebtn" name="Command" value="Save" class="btn btn-info">&ensp;Save</button>
                                <button type="submit" id="deletebtn" name="Command" value="Delete" class="btn btn-danger"></i>&ensp;Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function getparent() {
        var Parent_Type = document.getElementById('Parent_Type').value;
        if (Parent_Type == "Opportunity") {
            document.getElementById("demo").hidden = true;
        }
        else {
            document.getElementById("demo").hidden = false;
        }
    }
    var isSubmitted = false;

    function stopMultipleSubmitAdvReq() {
        if (!isSubmitted) {
            $("#savebtn").prop('disabled', true);
            isSubmitted = true;
            return true;
        }
        else {
            $("#savebtn").prop('disabled', false);
            isSubmitted = false;
            return false;
        }
    }
    function submitadvreq() {

        stopMultipleSubmitAdvReq();

        return isSubmitted;
    }
    function myfunctionVoucher() {

        document.getElementById("request").style.display = "none";
        $("#Model_Emp_AdvanceReq").modal('show');

        document.getElementById("exit").style.display = "block";
        $("#Model_Emp_AdvanceReq").modal('hide');
    }
</script>
<script src="~/Content/assets/js/jquery.min.js"></script>

<script src="~/Content/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

<script src="~/Content/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="~/Content/assets/js/icons/feather-icon/feather-icon.js"></script>

<script src="~/Content/assets/js/scrollbar/custom.js"></script>
<script src="~/Content/assets/js/scrollbar/simplebar.js"></script>

<script src="~/Content/assets/js/config.js"></script>

<script src="~/Content/assets/js/clock.js"></script>
<script src="~/Content/assets/js/slick/slick.js"></script>
<script src="~/Content/assets/js/slick/slick.min.js"></script>
<script src="~/Content/assets/js/header-slick.js"></script>
<script src="~/Content/assets/js/chart/apex-chart/apex-chart.js"></script>
<script src="~/Content/assets/js/chart/apex-chart/stock-prices.js"></script>
<script src="~/Content/assets/js/chart/apex-chart/moment.min.js"></script>
<script src="~/Content/assets/js/notify/index.js"></script>
<script src="~/Content/assets/js/typeahead/typeahead.bundle.js"></script>
<script src="~/Content/assets/js/typeahead/typeahead.custom.js"></script>
<script src="~/Content/assets/js/typeahead-search/handlebars.js"></script>
<script src="~/Content/assets/js/height-equal.js"></script>
<script src="~/Content/assets/js/animation/wow/wow.min.js"></script>
<script src="~/Content/assets/js/typeahead-search/typeahead-custom.js"></script>

<script src="~/Content/assets/js/script.js"></script>